html {
    background-color: black;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

/* Header */
header h1{
    font-size: 50px;
    font-weight: normal;
}

a{
    color: aquamarine;
    font-size: 16px;
}

/* Phone Video */
#phone-video {
    padding-top: 20px;
}

/* Travel Guide */
#travel-guide h2 {
    font-size: 42px;
    font-weight: 300;
}

#travel-guide p {
    font-size: 21px;
    color: gray;
}

/* Footer */
#phone-logo {
    padding-top: 30px;
    padding-bottom: 20px;
}

#footer-cpr {
    text-align: right;
    color: gray;
}