@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@900&display=swap');

/* Responsive Features
   Change: 
   Add min/max height/width
   Common rules for media
   .container {
    width: 50%;
    height: 200px;
    overflow: hidden;
    }
 
    .container img {
     max-width: 100%;
     height: auto;
    display: block;
    }

    Add media queries
    Refactor nav button
*/
html {
    font-family: Whitney, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 16px;
}

body {
    margin: 0;
}

/* Navigation bar + Header */

header {
    background: url(./Resources/Discord-background.png);
    background-size: cover;
    background-position: center;
    background-color: #404eed;
    width: 100%;
    height: 39.2rem;
    text-align: center;
}

.nav-bar {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

.nav-links {
    width: 54.5rem;
    margin-top: 0.6rem;

}

#nav-logo {
    margin-top: 0.8rem;
}

.nav-bar a {
    color: white;
    text-decoration: none;
    margin-right: 1.9rem;
    font-size: 0.95rem;
    font-weight: 600;
}

.nav-bar a:hover {
    text-decoration: underline;
}

#open-button-link {
    border-radius: 40px;
    padding: 0.72rem 0.1rem;
    margin: 1rem;
    justify-content: center;
    align-content: center;
    background-color: #fff;
    color: #000;
    font-size: 0.8rem;
    font-weight: 100;
}

.header-content {
    margin-top: 8.3rem;
}

.imagine-img {
    font-size: 2.75rem;
    margin-top: 2em;
    margin-left: 2rem;
}

.imagine-p {
    color: #fff;
    font-size: 1.2rem;
    font-weight: 100;
    line-height: 170%;
    margin-top: 2.5rem;
}

.buttons {
    margin-top: -0.2rem;
}

.download-windows-button {
    border-radius: 40px;
    background-color: #fff;
    color: #000;
    font-size: 1.2rem;
    font-weight: 500;
    text-decoration: none;
    padding: 1.1rem 2.4rem;
    margin-right: 1.1em;
}

#download-icon {
    width: 1rem;
    height: 1rem;
    margin-right: .5rem;
    margin-top: 1rem;
}

.open-browser {
    border-radius: 40px;
    background-color: #23272a;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 500;
    text-decoration: none;
    padding: 1.1rem 2rem;
}

/* Content Blocks */
.content {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    margin-top: 7rem;
    margin-bottom: 7.7rem;
    font-family: 'Lato', sans-serif;
}

.invite-text {
    margin-left: 8.4rem;
}

.content-h1 {
    font-family: 'Catamaran', sans-serif;
    font-size: 3rem;
    font-weight: bold;
    line-height: 120%;
    color: #23272a;
    margin-bottom: 1rem;
}

.content-p {
    line-height: 180%;
    font-size: 1.2rem;
}

/* Content Block 2 */
#block2 {
    background-color: #f6f6f6;
}

.voice-text {
    margin-right: 9rem;
    margin-top: -1rem;
}

.voice-image {
    margin-top: 7.4rem;
    margin-bottom: 7.5rem;
}

/* Content Block 3 */
.community-image {
    margin-right: 8rem;
}

/* Content Block 4 */
#block4 {
    background: #f6f6f6;
    margin-top: 7.4rem;
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.content4-h1 {
    margin-top: 8rem;
    text-align: center;
}

.content4-p {
    text-align: center;
    margin-top: -1rem;
}

.call-image {
    margin-bottom: 4rem;
    width: 74rem;
    height: auto;
}

.ready-image {
    margin-bottom: 3rem;
    width: 34rem;
}

.download-button {
    margin-bottom: 9rem;
}

.download-windows {
    border-radius: 40px;
    background-color: #5a6af2;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 500;
    text-decoration: none;
    padding: 1.1rem 2.4rem;
    margin-right: 1.1em;
}

/* Footer */
.discord-footer {
    background: #23272a;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    font-family: 'Lato', sans-serif;
}

.footer-content {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    width: 73rem;
    height: 20rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    border-bottom: 2px solid #404eed;
}

.imagine-a-footer {
    width: 14.2rem;
    height: 3.7em;
    margin-top: 3rem;
    margin-right: 8.5rem;
    margin-left: 6rem;
}

.footer-list {
    padding-top: 1rem;
    padding-right: 6rem;
}

.footer-list a,
li {
    color: white;
    text-decoration: none;
    list-style: none;
    font-size: 1rem;
    line-height: 200%;
}

.footer-list a:hover {
    text-decoration: underline;
}

#list-head {
    color: #404eed;
}

.bottom-footer {
    background: #23272a;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    padding-bottom: 4rem;
}

.footer-logo {
    margin-right: 61rem;
    width: 8rem;
    height: 2rem;
}

.footer-open-button {
    border-radius: 40px;
    padding: 0.6rem 1rem;
    background-color: #5865f2;
    color: #fff;
    font-size: 0.8rem;
    font-weight: 100;
    text-decoration: none;
}